h1 {
  top: 300px;
}
.chesters {
  color: white;
  font-family: "Bradley Hand", cursive;
  font-size: 120px;
}

.p1 {
  font-family: "Optima", sans-serif;
  font-size: 25px;
}
.p2 {
  font-family: "Optima", sans-serif;
  font-size: 15px;
}
img {
  width: 100%;
  height: 100%;
}
#div-logo {
  right: 10px;
  z-index: 10;
}
#logo {
  width: 100px;
  height: 100px;
}

#menu {
  max-width: 10px;
  top: 350px;
  font-family: "Gill Sans", sans-serif;
}

.nav-link {
  color: darkorange;
  font-size: 15px;
  margin-left: 30px;
}
#navbar-example3 {
  position: fixed;
  z-index: 10;
}

#navbar-example3 a:hover {
  color: green;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: green !important;
  background-color: transparent !important;
}
.row {
  margin-top: 50px;
}
.galeria {
  height: 280px;
}
.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
#menu-chester a {
  color: transparent;
}
#menu-chester a:hover {
  font-family: "Nova Slim", cursive;
  font-size: 21px;
  font-weight: bolder;
  color: white;
}
hr.dotted {
  border-top: 3px dotted green;
}
.historia-chester {
  height: 170px;
  width: 450px;
}
.info {
  font-family: "Righteous", cursive;
  color: rgb(116, 54, 9);
}
.mapas {
  font-family: "Lobster", cursive;
  font-family: "Poiret One", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: rgb(226, 128, 8);
  margin-bottom: 10%;
}
.dir {
  font-family: "Righteous", cursive;
  margin-top: 8%;
  color: rgb(116, 54, 9);
}
.servicio {
  font-family: "Righteous", cursive;
  color: green;
}
.bg-4 {
  background-color: rgba(221, 123, 11, 0.877);
  color: white;
}
.container-fluid {
  padding-top: 2px;
}
.info-horarios {
  font-family: "Federo", sans-serif;
  font-family: "Poiret One", cursive;
  font-size: x-large;
  color: black;
}
.info-footer {
  font-family: "Righteous", cursive;
  font-size: large;
  color: white;
}
#chesters-footer {
  font-family: "Bradley Hand", cursive;
  font-size: xx-large;
  color: black;
}
.p3 {
  font-family: "Optima", sans-serif;
  font-size: xx-small;
}
